.root{
    -fx-background-image: url("testbild.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}
#marsTravelHeader {
    -fx-text-fill: white;
    -fx-font-size: 1px;


}
.button{
    -fx-background-color: #FFF6E6;
    -fx-border-color: #FFFFFF;
}

.button:hover{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}