.root{
    -fx-background-image: url("testbild.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

#marsTravelHeader {
    -fx-text-fill: white;
    -fx-font-size: 1px;
}

/*BOKA KNAPPEN */
.buttonBoka{
    -fx-background-color: #C7511B;
    -fx-border-color: #EED2A7;
    -fx-background-radius: 10; /* Rundar av knappens hörn, var 40 innan */
    -fx-border-radius: 10;   /* Rundar av knappens hörn, var 40 innan */
}
.buttonBoka:hover{
    -fx-background-color: #363230;
    -fx-border-color: #EED2A7;
}

/* NÄSTA KNAPPAR */
.buttonNasta{
    -fx-background-color: #C7511B;
    -fx-border-color: #EED2A7;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.buttonNasta:hover{
    -fx-background-color: #363230;
    -fx-border-color: #EED2A7;
}

/* SÖK KNAPPAR */
.buttonSok{
    -fx-background-color: #C7511B;
    -fx-border-color: #EED2A7;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.buttonSok:hover{
    -fx-background-color: #363230;
    -fx-border-color: #EED2A7;
}

/* LOGGA IN KNAPPEN */
.buttonLoggainNasta{
    -fx-background-color: #C7511B;
    -fx-border-color: #EED2A7;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.buttonLoggainNasta:hover{
    -fx-background-color: #363230;
    -fx-border-color: #EED2A7;
}

/* SIDEBAR KNAPPARNA */
.sidebuttons{
    -fx-background-color: #2d2e2f;
    -fx-border-color: #EED2A7;
}

/*INFO KNAPPARNA */
.buttonInfo{
    -fx-background-color: #EED2A7;
    -fx-background-radius: 5;
        -fx-border-radius: 5;
}
.buttonInfo:hover{
    -fx-background-color: #C7511B;
}

/*RADIO KNAPPAR*/
.radioButton .radio {
    -fx-background-color: #EED2A7;
    -fx-background-insets: 0;
}
.radioButton:selected .radio .dot {
    -fx-background-color: #363230;
    -fx-background-insets: 0;
}

/*CHOICE BOX*/
/* Bakgrundsfärg för själva ChoiceBox-kontrollen */
.choiceBox {
    -fx-background-color: #EED2A7;
    -fx-mark-color: #363230; /* Pilar färg */
}
/* Bakgrundsfärg för hela kontextmenyn */
.choiceBox .context-menu {
    -fx-background-color: #EED2A7;
}
/* Textfärg för icke-markerade objekt i listan */
.choiceBox .menu-item > .label {
    -fx-text-fill: #363230;
}
/* Bakgrundsfärg för markerat objekt i listan */
.choiceBox .menu-item:focused {
    -fx-background-color: #363230;
}
/* Textfärg för markerat objekt i listan */
.choiceBox .menu-item:focused > .label {
    -fx-text-fill: #EED2A7;
}

/* VARUKORG KNAPPEN */
.buttonVK {
    -fx-background-radius: 50;
    -fx-background-image: url("CartIcon.png");
    -fx-background-size: 40 40;
    -fx-background-color: #EED2A7;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

/* Tabell Vy */
.table-view {
    -fx-background-color: #c7511b; /* Background color */
}

/* Tabell Kolumn Header */
.table-header-background {
    -fx-background-color: #EED2A7; /* Header background color */
}

/* Table Column Text */
.table-column .label {
    -fx-text-fill: #363230; /* Text color */
}

/* Tabell Rad */
.table-row-cell {
    -fx-background-color: #ffffff; /* Row background color */
}

/* Växlande Rad Färg */
.table-row-cell:odd {
    -fx-background-color: #F0F0F0; /* Alternate row background color */
}

/* Vald Rad Färg */
.table-row-cell:selected {
    -fx-background-color: #C7511B; /* Selected row background color */
}