.root{
    -fx-background-image: url("testbild.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}
#marsTravelHeader {
    -fx-text-fill: white;
    -fx-font-size: 1px;


}
.buttonBoka{
    -fx-background-color: #C24C0F;
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

.buttonBoka:hover{
    -fx-background-color: #FFF6E6;
    -fx-border-color: #FFFFFF;
}