.root{
    -fx-background-image: url("testbild.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}
#marsTravelHeader {
    -fx-text-fill: white;
    -fx-font-size: 1px;


}
.buttonBoka{
    -fx-background-color: #C7511B;
    -fx-border-color: #EED2A7;
    -fx-background-radius: 10; /* Rundar av knappens hörn, var 40 innan */
    -fx-border-radius: 10;   /* Rundar av knappens hörn, var 40 innan */
}

.buttonBoka:hover{
    -fx-background-color: #363230;
    -fx-border-color: #EED2A7;
}